<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
 <bean id="person"  class="com.soft.beans.Student">
 <property name="id" value="101"/>
 <property name="name" value="chanchal"/>
 <property name="visitplace">
 <list value-type="java.lang.String">
 <value>pune</value>
 <value>vardha</value>
 <value>nagpur</value>
 <value>amravati</value>
 </list>
 </property>
 
 <property name="cource">
 <set value-type="java.lang.String">
 <value>java</value>
 <value>physics</value>
 <value>math</value>
 <value>sql</value>
 </set>
 </property>
 
 <property name="parents">
 <map key-type="java.lang.String" value-type="java.lang.String">
 <entry key="fathename" value="Aarti"/>
 <entry key="mothername" value="Yogesh"/>
 </map>
 </property>
 
 <property name="emails">
 <props>
 <prop key="personalEmail">Chavhanyogesh@494gmail.com</prop>
 <prop key="officialEmal">AartiYogesh494@gmail.com</prop>
 </props>
 </property>
 
 </bean>
   

 </beans>